<a href="https://colab.research.google.com/github/Mcflurrins/ByteFest-hackathon/blob/main/EDA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Read the CSV file, skipping the initial rows that contain metadata
df = pd.read_csv("/content/table_32.csv")
df

,Category,Skill level 1 (highest),Skill level 2,Skill level 3,Skill level 4,Skill level 5 (lowest),Total ('000)
0,Males,2446.6,837.0,1428.3,1589.4,1001.7,7344.8
1,Females,2515.1,770.6,433.4,2056.6,993.6,6798.4
2,15–24,272.7,147.0,365.7,647.9,732.9,2178.3
3,25–34,1265.9,396.7,472.5,817.3,378.7,3351.7
4,35–44,1391.6,394.6,408.2,746.3,261.3,3214.0
5,45–54,1085.4,359.0,306.6,687.1,270.2,2721.5
6,55–64,697.0,248.0,248.3,588.1,251.9,2043.4
7,65–74,247.5,62.3,59.8,163.1,97.7,632.2
8,With a non-school qualification,4440.2,1201.3,1314.4,2187.9,756.4,9948.0
9,No non-school qualification,520.5,407.9,547.8,1460.1,1235.3,4198.9
10,Postgraduate Degree,1110.9,119.3,40.1,179.6,55.4,1520.1
11,Graduate Diploma/Graduate Certificate,361.4,53.9,17.9,70.7,11.6,521.1
12,Bachelor Degree,2108.6,383.1,160.5,574.3,212.6,3448.0
13,Advanced Diploma/Diploma,419.4,314.5,165.9,413.0,123.7,1442.9
14,Certificate III/IV,326.4,267.7,801.2,763.0,263.6,2433.4
15,Certificate I/II,33.1,23.1,40.4,76.5,53.2,224.4
16,Certificate n.f.d.,11.8,11.9,40.0,45.5,13.2,127.2
17,Natural and physical sciences,198.2,44.8,20.7,56.1,18.3,341.1
18,Information technology,304.4,58.1,25.1,73.7,39.9,502.7
19,Engineering and related technologies,504.0,129.9,491.6,246.3,106.6,1485.2
20,Architecture and building,163.2,66.9,256.3,71.3,52.7,613.2
21,Agriculture environmental and related studies,75.9,20.4,54.0,48.0,34.7,234.5
22,Health,829.1,126.8,37.6,165.7,41.5,1205.7
23,Education,493.3,28.8,22.6,129.3,23.3,699.3
24,Management and commerce,958.3,351.4,164.7,603.9,199.7,2281.1
25,Society and culture,597.9,189.6,68.2,495.1,110.3,1461.4
26,Creative arts,226.9,50.7,43.7,98.5,45.0,463.0
27,Food hospitality and personal services,33.7,114.2,106.5,153.7,74.2,485.0
28,Agriculture forestry and fishing,161.9,14.0,13.0,45.5,65.0,301.0
29,Mining,71.7,28.4,47.6,101.5,11.4,257.1
30,Manufacturing,221.1,63.6,221.5,230.6,150.9,897.6
31,Electricity gas water and waste services,84.1,29.0,32.4,44.4,16.8,209.8
32,Construction,213.2,106.9,635.5,247.4,142.7,1349.1
33,Wholesale trade,133.9,26.8,30.6,140.4,41.5,375.2
34,Retail trade,132.8,181.3,69.7,224.0,649.9,1269.2
35,Accommodation and food services,19.1,247.1,40.7,267.5,350.8,931.0
36,Transport postal and warehousing,106.0,33.6,26.7,449.4,96.4,716.4
37,Information media and telecommunications,102.0,27.6,31.9,34.1,10.3,205.1
38,Financial and insurance services,252.6,71.1,33.7,155.9,3.8,514.3
39,Rental hiring and real estate services,47.5,44.2,91.7,31.3,14.0,226.9
40,Professional scientific and technical services,978.5,142.3,59.9,103.6,20.4,1309.0
41,Administrative and support services,89.7,44.5,54.4,85.2,155.5,431.9
42,Public administration and safety,391.9,166.6,53.7,219.1,81.0,916.7
43,Education and training,772.8,53.8,53.6,269.1,35.1,1196.9
44,Health care and social assistance,1033.9,261.3,52.5,822.5,87.8,2260.9
45,Arts and recreation services,85.5,28.9,54.1,59.4,35.1,265.4
46,Other services,58.1,44.4,256.3,121.5,28.9,509.8
47,Total,4963.3,1610.2,1858.0,3647.0,1994.3,14144.8

In [11]:
input_file = "/content/SEW24DC16_T28_T32 - Table 31.csv"
df = pd.read_csv(input_file)
df

,Category,Postgraduate Degree,Graduate Diploma / Graduate Certificate,Bachelor Degree,Advanced Diploma/Diploma,Certificate III/IV,Certificate I/II,Certificate n.f.d.,Total with non-school qualification(a),Without non-school qualification,Total(a)
0,Male,741.2,191.9,"1,566.2",694.3,"1,561.2",117.0,76.5,"5,066.1","2,278.8","7,344.8"
1,Female,779.0,328.3,"1,881.2",748.5,871.7,108.9,51.2,"4,878.3","1,919.6","6,798.4"
2,15-19,0.0,0.0,**2.2,*9.9,46.5,30.9,*4.5,105.0,713.0,815.9
3,20-24,19.1,15.1,269.5,84.4,200.6,33.2,*16.2,651.2,713.8,"1,362.0"
4,25-34,433.7,100.9,"1,145.2",289.4,600.8,40.1,31.3,"2,687.5",664.1,"3,351.7"
5,35-44,509.1,136.2,938.2,361.3,537.6,26.8,41.0,"2,601.9",613.1,"3,214.0"
6,45-54,314.7,140.6,659.2,358.6,503.2,36.0,18.3,"2,082.3",641.7,"2,721.5"
7,55-64,179.9,101.6,337.3,267.7,421.3,37.7,*9.1,"1,401.1",640.4,"2,043.4"
8,65-74,63.7,29.6,96.1,71.9,120.9,19.1,*6.1,418.4,212.9,632.2
9,Born in Australia,616.3,359.4,"1,907.0",928.1,"1,903.2",183.2,95.8,"6,147.7","3,042.0","9,190.7"
10,Born overseas,905.4,159.8,"1,541.0",516.3,527.1,40.2,30.4,"3,798.7","1,156.9","4,958.3"
11,Managers,250.7,92.1,522.3,240.8,246.0,33.1,*7.8,"1,423.2",440.1,"1,861.7"
12,Professionals,917.0,286.2,"1,718.5",272.1,164.5,11.7,*6.9,"3,430.4",287.3,"3,717.3"
13,Technicians and trades workers,49.0,20.7,169.6,210.8,851.5,39.7,39.0,"1,423.0",528.9,"1,949.3"
14,Community and personal service workers,94.0,47.4,285.8,263.4,370.5,37.8,22.7,"1,145.8",519.7,"1,665.6"
15,Clerical and administrative workers,117.8,50.3,404.7,225.1,277.0,32.6,13.7,"1,161.7",609.0,"1,768.7"
16,Sales workers,42.4,15.0,136.8,87.9,125.1,21.3,*9.9,454.8,623.7,"1,081.1"
17,Machinery operators and drivers,21.9,*5.0,82.4,66.0,202.2,16.4,11.1,422.3,471.8,894.0
18,Labourers,24.5,*5.6,126.1,72.1,194.0,30.1,*11.8,485.2,720.3,"1,206.5"
19,Industry of current job,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Agriculture, forestry and fishing",*9.0,*5.4,33.9,25.3,60.2,*14.8,**4.6,156.7,145.7,301.0
21,Mining,15.5,*4.9,48.1,20.0,85.9,**2.3,*3.5,186.4,72.7,257.1
22,Manufacturing,53.4,15.6,154.5,90.3,208.8,*14.1,*8.3,563.8,334.3,897.6
23,"Electricity, gas, water and waste services",19.4,*8.2,57.1,15.1,46.2,*3.4,**2.3,156.9,53.9,209.8
24,Construction,41.0,12.8,139.6,112.0,524.5,28.0,24.3,901.5,447.0,"1,349.1"
25,Wholesale trade,37.1,*8.2,69.6,40.9,59.8,10.3,**2.2,229.8,147.5,375.2
26,Retail trade,68.1,16.0,184.4,92.3,157.9,25.7,11.4,569.8,699.4,"1,269.2"
27,Accommodation and food services,35.3,*9.8,129.2,88.7,106.8,20.5,*9.6,406.2,524.2,931.0
28,"Transport, postal and warehousing",40.6,*9.9,125.1,79.4,122.5,16.7,*8.4,413.0,303.9,716.4
29,Information media and telecommunications,26.5,*5.8,80.2,25.8,23.7,**2.1,0.0,169.7,38.2,205.1
30,Financial and insurance services,85.5,30.2,188.1,71.1,31.9,**1.5,**1.0,420.2,94.1,514.3
31,"Rental, hiring and real estate services",19.1,*7.6,58.1,30.3,36.3,*4.2,*8.4,170.9,56.0,226.9
32,"Professional, scientific and technical services",258.7,63.2,572.2,117.3,91.8,9.4,**4.1,"1,136.1",170.9,"1,309.0"
33,Administrative and support services,26.5,*8.4,91.4,53.0,69.6,*5.9,*4.5,269.8,161.1,431.9
34,Public administration and safety,140.3,61.7,261.2,125.4,122.2,*12.7,**2.4,739.6,174.9,916.7
35,Education and training,264.8,112.3,415.5,100.7,105.8,*10.4,*7.4,"1,034.4",164.6,"1,196.9"
36,Health care and social assistance,340.6,124.1,711.7,249.4,351.8,29.6,*17.5,"1,862.4",401.6,"2,260.9"
37,Arts and recreation services,19.0,9.1,60.8,30.2,46.7,*3.3,**3.4,179.7,87.7,265.4
38,Other services,22.0,*8.9,68.1,72.0,182.7,9.8,*7.6,380.7,129.1,509.8
39,Total,"1,520.1",521.1,"3,448.0","1,442.9","2,433.4",224.4,127.2,"9,948.0","4,198.9","14,144.8"
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN